/* 1) Load Kanit first */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* globals.css */
/* 1) Tailwind import */
@import "tailwindcss";


@theme {

  /* font */
  --font-sans: var(--font-kanit), ui-sans-serif, system-ui, -apple-system, sans-serif;

  /* gradients  */
  --green-gradient-from: #3DB2A2;
  --green-gradient-via: #2CA88F;
  --green-gradient-to: #008767;
  /* text colors */

  /* green */
  --green-main: rgb(0, 135, 103);
  /* #008767 */
  --green-light: rgb(0, 156, 125);
  /* #009C7D */
  --green-dark: rgb(0, 146, 10);
  /* #00920A */
  /* gray */
  --text-gray-primary: #777777;
  --text-gray-secondary: #9F9F9F;
  --text-gray-tertiary: #545B79;

  /* dark */
  --dark-main: #122019;

  /* button */
  --button-gray: #c7c7c7;


}

/* 3) Apply it globally in Tailwind’s base layer */
@layer base {
  html {
    font-family: var(--font-sans);
  }

  body {
    margin: 0;
    padding: 0;
    /* your background & text tokens… */
  }
}

/* Optional extra globals */
:root {
  --background: #ffffff;
}

body {
  background-color: var(--background);
  color: #333333;
}